.lsp-session-v1
.mc-lists.el
bookmarks
cider-history
projectile-bookmarks.eld
recentf
tramp

.cache/
auto-save-list/
backup/
elfeed/
elpa/
eshell/
image-dired/
rust-playground/
snippets/
transient/
url/
